name: Build QMK firmware

on: [push, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    name: 'QMK Userspace Build'
    uses: drashna/.github/.github/workflows/qmk_userspace_build.yml@main
    with:
      qmk_ref: ${{ github.ref_name }}

  publish:
    name: 'QMK Userspace Publish'
    uses: drashna/.github/.github/workflows/qmk_userspace_publish.yml@main
    if: always() && !cancelled()
    needs: [build]
    with:
      qmk_ref: ${{ github.ref_name }}

  build-bjohnson:
    name: 'QMK Firmware Build'
    uses: drashna/.github/.github/workflows/qmk_userspace_build_all.yml@main
    with:
      keymap_name: bjohnson
      qmk_repo: qmk/qmk_firmware
      qmk_ref: ${{ github.ref_name }}

  publish-bjohnson:
    name: 'QMK Userspace Publish'
    uses: drashna/.github/.github/workflows/qmk_userspace_publish.yml@main
    if: always() && !cancelled()
    needs: [build-bjohnson]
    with:
      qmk_ref: ${{ github.ref_name }}
      keymap_name: bjohnson
